
<meta charset="utf-8">
<title>Console Reporter Spec</title>

<script type="text/javascript"
	src="resources/scripts/jasmine_teamcity_reporter.js"></script>

<!-- TODO it would be nice to calculate the correct jasmine paths dynamically -->
<!--
<link rel="stylesheet"
	href="../../vendor/bundle/ruby/1.9.1/gems/jasminerice-0.0.10/vendor/assets/stylesheets/jasmine.css"
	type="text/css">
<script type="text/javascript"
	src="../../vendor/bundle/ruby/1.9.1/gems/jasminerice-0.0.10/vendor/assets/javascripts/jasmine.js"></script>
<script type="text/javascript"
	src="../../vendor/bundle/ruby/1.9.1/gems/jasminerice-0.0.10/vendor/assets/javascripts/jasmine-html.js"></script>
	-->

<script type="text/javascript">
	describe("Basic Suite", function() {
		it("Should pass a basic truthiness test.", function() {
			expect(true).toEqual(true);
		});

		it("Should fail when it hits an inequal statement.", function() {
			expect(1 + 1).toEqual(3);
		});
	});

	describe("Another Suite", function() {
		it("Should pass this test as well.", function() {
			expect(0).toEqual(0);
		});
	});

	jasmine.getEnv().addReporter(new jasmine.TeamcityReporter());
	jasmine.getEnv().addReporter(new jasmine.TrivialReporter());
	jasmine.getEnv().execute();
</script>

